<p id="notice"><%= notice %></p>

<h1>Empleados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= link_to 'Ver proyectos', person %></td>
        <td><%= link_to 'Editar', edit_person_path(person) %></td>
        <td><%= link_to 'Eliminar persona', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo empleado', new_person_path %>
<%= link_to 'Ver lista de proyectos', projects_path %>
